<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p>
  At the tone the time will be <%= @current_time %>
</p>

<p>
  Say <%= link_to "Good bye", welcome_goodbye_path %>!
</p>